*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
header{
    color: rgb(0, 0, 0);
    text-align: center;
    background: linear-gradient(90deg, #003f5b, #2b4b7d, #5f5195, #98509d, #cc4c91, #f25375, #ff6f4e, #ff9913);
    color: wheat;
}
.items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 2px solid black;
    gap: 2rem;
    
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 20px;
    margin: 20px;
    gap: 2rem;
}
.card-container{
    border: 2px solid rgb(212, 206, 206);
    border-radius: 20px;

}
.card_title{
    padding: 20px;
}
/* doubt in below */
.card-image-container > img{
    border-radius: 18px;
}
.card-footer-container{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.card_title a{
    text-decoration: none;
    color: #000000;
}
.author-container{
    display: flex;
}
.avatar-container img{
    height: 30px;
    border: 1px solid;
    border-radius: 20px;
    margin-right: 10px;
}
.card-tag-container{
    height: 25px;
    border: 1px solid black;
    border-radius: 6px;
}
.card-tag-container > span{
    text-align: center;
}
.author-info-container{
    display: flex;
    flex-direction: column;
}

